.div_title{
	height:50px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.div_title .col-xs-1{
	padding-left:0;
}
.div_storename{
	text-align: center;
	font: 18px "微软雅黑";
	color:#ff5b62;
}
.div_storename h2{
	padding:15px 0;
}
/* 定位 */
.btn_location{
	padding:15px 0;
}
.btn_location s{
	display: inline-block;
    width: 18px;
    height: 10px;
    background: url(../images/icon_index.png) -68px -70px no-repeat;
    -webkit-background-size: 400px auto;
    background-size: 400px auto;
    margin-top: 2px;
    vertical-align: middle;
}
.a_saoMiao,.a_search{
	display: inline-block;
	width:30px;
	padding:15px 0;
	background: url(../images/icon_index.png) 0 0 no-repeat;
	-webkit-background-size: 400px auto;
	background-size: 400px auto;
	float: left;
}

.a_search{
	background-position: -30px 0;
	float: right;
}
/* 导航 */
.div_navbar{
	background-color: #fff;
	padding-top:5px;
	padding-bottom: 5px;
	text-align: center;
}
.div_navbar .col-xs-3{
	padding:0;
}
.div_navbar span{
	display: inline-block;
	width:100%;
	height:100%;
	text-align: center;
	font-size: 14px;
	color:#333;
}
.div_navbar span.current{
	color:#ff5b62;
}
.div_navbar span:nth-child(2){
	width: 34%;
    margin-left: 33%;
    height: 2px;
    overflow: hidden;
    display: block;
    margin-top:2px;
	background-color: #fff;
}
.div_navbar span:nth-child(2).current{
    background-color: #ff5b62;
}

/*banner*/
.div_banner{
	width:100%;
	overflow: hidden;
	position: relative;
	padding-left: 0;
	padding-right: 0;
}
.div_banner .col-xs-12{
	padding:0!important;
}
.div_banner .row{
	margin:0;
}
.focus{ 
	width:100%; 
/* 	height:180px; */  
	margin:0 auto; 
	position:relative; 
	overflow:hidden;   
}
.focus .hd{ 
	width:100%; 
	height:11px;  
	position:absolute; 
	z-index:1; 
	bottom:5px; 
	text-align:center;  
}
.focus .hd ul{ 
	display:inline-block; 
	height:5px; 
	padding:3px 5px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px; 
	font-size:0; 
	vertical-align:top;
}
.focus .hd ul li{ 
	display:inline-block; 
	width:5px; 
	height:5px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px; 
	background:#fff; 
	margin:0 5px;  
	vertical-align:top; 
	overflow:hidden;   
}
.focus .hd ul .on{ 
	background:#ff5b62;  
}
.focus .bd{ 
	position:relative; 
	z-index:0; 
}
.focus .bd li img{
	width:100%;  
	height:auto;
	background:url(images/loading.gif) center center no-repeat;  
}
.focus .bd li a{ 
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  
}
/* banner2 */
.swiper-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #fff!important;
    padding: 5px 0!important;

    }
    .swiper-slide {
        text-align: center;
        background: #fff;
        width:auto;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
   .swiper-container .col-xs-3{
        padding-left:2px;
        padding-right:2px;
   }
	.swiper-container{
        padding:0;
    }
    
     .div_recommend {
        background-color: #fff;
        height:auto;
        overflow: hidden;
    }

    .div_recommend div {
        padding: 3px;
        border: 1px solid #eee;
        height: 90px;
    }
    .div_recommend div img { 
        display: block;
        height: 100%;
        margin: 0 auto;
    }
    .title_jiequ {
        margin-top: 5px;
    margin-bottom: 4px;
    overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
    -webkit-line-clamp: 3;
    }
    .div_recommend p {
        padding-bottom: 10px;
    }

.div_recommend {
    padding: 2px;
    background-color: #fff;
}

.div_recommend div {
    padding: 3px;
    border: 1px solid #eee;
}

.div_recommend h3 {
    margin-top: 5px;
    margin-bottom: 4px;
    overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
}
.div_recommend p {
    padding-bottom: 10px;
}
.swiper-pagination{
	position: absolute;
	bottom:0;
	left:0;
}
/* 产品轮播 */
.wrapper{
	width: 100%;
	height:auto!important;
	overflow: hidden;
}
.scroller {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 200%;
	background-color: #fff;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.scroller ul {
	width: 100%;
	height: 100%;
}

.scroller li {
	display: block;
	float: left;
	width: 12.5%;/* 100px */
	height: 100%;
	padding-bottom: 10px;
}





/*tab栏目切换*/

.menu_items,.menu_items2{
	width:100%;
	height:auto;
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 5px;
	padding-left: 0px;
    padding-right: 0px;
}
.menu_items a ,.menu_items2 a{
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 7px 0 5px;
    color: #cecece;
    background-color: #fff;
}
.menu_items a  span ,.menu_items2 a  span {
    display: block;
    font-size: 12px;
}
.menu_items2 a  span:nth-child(2) {
	margin-top:-2px;
}

.menu_items a span:first-child{
    display: inline-block;
    width: 34px;
    padding: 15px 0;
    font-size: 0;
}
.menu_items2 a span:first-child  {
    display: inline-block;
    width: 26px;
    padding: 10px 0;
    font-size: 0;
}
.menu_items .icon_home {
    background-image: url(../images/icon_index.png);
    -webkit-background-size: 400px auto;
    background-size: 400px auto;
}

.menu_items2 .icon_home {
    background-image: url(../images/icon_index.png);
    -webkit-background-size: 300px auto;
    background-size: 300px auto;
}


.icon_all {
    background-position: -55px 0!important;
}
.icon_beauty{
	background-position: -85px 0!important;
}
.icon_ladies{
	background-position: -117px 0!important;
}
.icon_foods{
	background-position: -144px 0!important;
}
.icon_jiameng{
	background-position: -235px 0!important;
}
.icon_qiandao{
	background-position: -279px 0!important;
}
.icon_xianshigou{
	background-position: -322px 0!important;
}
.icon_duihuan{
	background-position: -362px 0!important;
}
.a_footshopcar b{
	display: block;
    width: 18px;
    height: 18px;
    background-color: #f5686d;
    border-radius: 20px;
    position: absolute;
    top: 5px;
    right: 20px;
    font: 10px/18px "Arial";
    color: #fff;
    text-align: center;
}
/* 精选单品 */

.div_jingxuan{
	padding-left:0;
	padding-right:0;
}
.div_jingxuan h2{
	text-align: center;
	background-color: #fff;
	padding:10px 0;
}



/*产品*/
.div_products{
	margin-top: 4px;
	padding:0 2px;
}
.div_productBox .swiper-slide{
	width:50%!important;
	background: none;
}
.div_product{
	height:auto;
	background-color: #fff;
	padding:5px;
	overflow: hidden;
	position: relative;
	text-align: left;
    width: 100%;
}

.div_product img{
	width:100%;
	height:auto;
	display: block;
	margin:0 auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	.div_product img{
		height:195px;
	}
}
@media screen and (max-width: 320px){
	.div_product img{
		height:145px;
	}
}
.div_product p{
    margin-bottom: 5px;
    font:14px "微软雅黑";
    color:#747272;
    overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
}
.div_product i{
	display: inline-block;
	width:24px;
	height:20px;
	background-image: url(../images/icon_index.png);
    -webkit-background-size: 400px auto;
    background-size: 400px auto;
    position: absolute;
    right:5px;
    top:5px;
}
.div_product a > span {
    display: inline-block;
    border: 1px solid #ff5b62;
    border-radius: 3px;
    padding: 0 4px;
    text-align: center;
    color: #ff5b62;
    margin-top: 5px;
    position: absolute;
    top: 0px;
    left: 5px;
}
/* 韩国icon */
.i_korea{
	background-position: 0 -34px;
}
/* 日本icon */
.i_japan{
	background-position: -37px -35px;
}
/* 法国icon */
.i_france{
	background-position: 0px -347px;
}
/* 美国icon */
.i_usa{
	background-position: -38px -347px;
}
/* 德国icon */
.i_germany {
    background-position: -75px -347px;
}
.div_product>span{
	display: inline-block;
	border:1px solid #ff5b62;
	border-radius: 3px;
	padding:0 4px;
	text-align: center;
	color: #ff5b62;
	margin-top: 5px;
	position: absolute;
	top:5px;
	left:5px;
}
.div_product h4{
	margin:10px 0 10px 0;
	line-height: 14px;
}
.div_product h4 span{
	display: inline-block;
	padding-right:5px;
}
.div_product h4 span u{
	text-decoration: none;
	font-family: "微软雅黑"
}
.div_product h4 span,.div_product h4 b{
	font:14px/14px "Arial";
	color: #ff5b62;
}

.div_product h4 b{
	font-weight: normal;
	color:#929191;
}
.div_product s{
	display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/icon_index.png) 0 0 no-repeat;
    -webkit-background-size: 500px auto;
    background-size: 500px auto;
    float: right;
    margin-left: 5px;
}
.div_product h5{
	margin:15px 0 5px 0;
}
.div_product h5 span{
	font:12px/20px "微软雅黑";
	color:#757575;
	margin-left: 3px;
}
.div_product h5 > b{
	float: right;
	position: relative;
	margin-right: 20px;
	margin-left: 5px;
}
.div_product h5 > b b{
	position: absolute;
	top: 5px;
    right: -18px;
	display: block;
    width: 18px;
    height: 18px;
    font: 10px/18px "Arial";
    color: #999;
    text-align: center;
}
.div_product .s_shopcar{
	background-position: -150px -85px;
}
.div_product .s_shopcar.current{
	background-position: -92px -385px;
}

.div_product .s_collect{
	background-position: -201px -85px;
}
.div_product .s_collect.current{
	background-position: -142px -385px;
}