.umNavbar .navbar-collapse{padding-left:0;}
.navbar-nav a.active{outline: none; background-color:#000 !important; color:#FFF;}

.umNoBorderTable .column{padding:8px 3px;}
.umNoBorderTable input{margin-top:-7px; width:90%;}
.umNoBorderTable .header{background:#F5F5F5;}
.umNoBorderTable .row{margin-left:0;}
.umNoBorderTable .row:hover{background:#F5F5F5;}

.container-fluid form{width:1000px;}

.condition-line{font-size:14px; font-family:Microsoft YaHei; font-weight:bold;}
.condition-line a{margin-left:10px;font-family:'Microsoft Yahei'; font-weight:normal;color:#999;}
.condition-line a.select{color:#337ab7;font-weight:bold;}
.condition-line select,.condition-line input{width:110px; display:inline-block;}
.condition-line i{display:inline-block; font-style: normal;width:110px; text-align:right;}

/*用于抵消代码（*=》border-box）样式*/
.edui-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.navbar-nav a.active {
    outline: none;
    background-color: #000 !important;
    color: #FFF;
}


@charset "utf-8";
/* 常用的样式 减少代码量 */
*{margin:0; padding:0; word-wrap:break-word;}
body,h1,h2,h3,h4,h5,h6,hr,a,p,blockquote,dl,div,dt,dd,ul,ol,li,img,select,table,tr,fieldset,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0; padding:0;border:0;}
body{color:#333; font-family:"微软雅黑"; font-size:14px;}
a{text-decoration:none; color:#555; outline:none; vertical-align:baseline}
a,input,select,textarea{outline:none; vertical-align:middle;}
a:hover{color:#00a0e9; text-decoration: none;}
ul,dl{list-style-type:none;}
img {border:0;}
small,em,i{font-weight:normal; font-style:normal;}
li{list-style:none;}
label input{vertical-align:middle;}
img{border:0;}
/*owl插件*/
.owl-wrapper-outer{border:none !important; background:none !important; box-shadow:none !important;}
.owl-carousel{background:none !important;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed-top{position: fixed; top: 0; left: 0;}
.fixed-bottom{position: fixed; bottom: 0; left: 0;}
.float-left{float: left;}
.float-right{float: right;}
.clearfix::before ,.clearfix::after{content: "";height: 0;line-height: 0;display: block;visibility: hidden;clear: both;}
.block{display: block !important;}
.inline{display: inline !important;}
.inline-block{display: inline-block !important;} 
.display-none{display: none;}
.cursor{cursor: pointer;}
.overflow{overflow: hidden;}
.margin-auto{margin-left: auto; margin-right: auto; display: block;}
.text-hidden{overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap;}
.text-center{ text-align: center;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.clear-pic{background: none; margin: 0; padding: 0; border-radius: 0;}
.padding{padding: 0 !important;}
.padding-lr{ padding-left: 0; padding-right: 0;}
.padding-lr-5{ padding-left: 5px; padding-right: 5px;}
.padding-top-5{padding-top: 5px;}
.padding-top-10{padding-top: 10px;}
.padding-top-15{padding-top: 15px;}
.padding-top-20{padding-top: 20px;}
.padding-top-30{padding-top: 30px;}
.padding-top-40{padding-top: 40px;}
.padding-top-50{padding-top: 50px;}
.padding-bottom-5{padding-bottom: 5px;}
.padding-bottom-10{padding-bottom: 10px;}
.padding-bottom-15{padding-bottom: 15px;}
.padding-bottom-20{padding-bottom: 20px;}
.padding-bottom-30{padding-bottom: 30px;}
.padding-bottom-40{padding-bottom: 40px;}
.padding-bottom-50{padding-bottom: 50px;}
.padding-left-5{padding-left: 5px;}
.padding-left-10{padding-left: 10px;}
.padding-left-15{padding-left: 15px;}
.padding-left-20{padding-left: 20px;}
.padding-left-30{padding-left: 30px;}
.padding-left-40{padding-left: 40px;}
.padding-left-50{padding-left: 50px;}
.padding-right-5{padding-right: 5px;}
.padding-right-10{padding-right: 10px;}
.padding-right-15{padding-right: 15px;}
.padding-right-20{padding-right: 20px;}
.padding-right-30{padding-right: 30px;}
.padding-right-40{padding-right: 40px;}
.padding-right-50{padding-right: 50px;}
.margin{margin: 0 !important;}
.margin-lr{margin-left: 0; margin-right: 0;}
.margin-lr-5{margin-left: 5px; margin-right: 5px;}
.margin-top-5{margin-top: 5px;}
.margin-top-10{margin-top: 10px;}
.margin-top-15{margin-top: 15px;}
.margin-top-20{margin-top: 20px;}
.margin-top-30{margin-top: 30px;}
.margin-top-40{margin-top: 40px;}
.margin-top-50{margin-top: 50px;}
.margin-bottom-5{margin-bottom: 5px;}
.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-15{margin-bottom: 15px;}
.margin-bottom-20{margin-bottom: 20px;}
.margin-bottom-30{margin-bottom: 30px;}
.margin-bottom-40{margin-bottom: 40px;}
.margin-bottom-50{margin-bottom: 50px;}
.margin-left-5{margin-left: 5px;}
.margin-left-10{margin-left: 10px;}
.margin-left-15{margin-left: 15px;}
.margin-left-20{margin-left: 20px;}
.margin-left-30{margin-left: 30px;}
.margin-left-40{margin-left: 40x;}
.margin-left-50{margin-left: 50px;}
.margin-right-5{margin-right: 5px;}
.margin-right-10{margin-right: 10px;}
.margin-right-15{margin-right: 15px;}
.margin-right-20{margin-right: 20px;}
.margin-right-30{margin-right: 30px;}
.margin-right-40{margin-right: 40px;}
.margin-right-50{margin-right: 50px;}
.none-line{text-decoration: none;}
.radius-5{border-radius: 5px;}
.radius-10{border-radius: 10px;}
.radius-20{border-radius: 20px;}
.radius-50{border-radius: 50%;}
.box-sizing{ box-sizing: border-box;}
.width-100{width: 100%; display: block;}
.width-60{width: 60%;display: block;}
.width-50{width: 50%; display: block;}
.width-40{width: 40%; display: block;}
.width-30{width: 30%; display: block;}
.width-25{width: 25%; display: block;}
.width-16{width: 16%; display: block;}
.height-100{height: 100%;}
.line-height-1{ line-height: 1;}
.line-height-15{ line-height: 1.5;}
.max-width-950{max-width: 950px; margin-right: auto; margin-left: auto;}
.max-width-990{max-width: 990px; margin-right: auto; margin-left: auto;}
.max-width-1170{max-width: 1170px; margin-right: auto; margin-left: auto;}
.max-width-1200{max-width: 1200px; margin-right: auto; margin-left: auto;}
.max-width-1300{max-width: 1300px; margin-right: auto; margin-left: auto;}
.max-width-1350{max-width: 1350px; margin-right: auto; margin-left: auto;}
.max-width-1440{max-width: 1440px; margin-right: auto; margin-left: auto;}
.font-size-30{font-size: 30px;}
.font-size-28{font-size: 28px;}
.font-size-26{font-size: 26px;}
.font-size-24{font-size: 24px;}
.font-size-22{font-size: 22px;}
.font-size-20{font-size: 20px;}
.font-size-18{font-size: 18px;}
.font-size-16{font-size: 16px;}
.font-size-14{font-size: 14px;}
.font-size-12{font-size: 12px;}
.font-weight-700{font-weight: 700;}
.font-weight-100{font-weight: 100;}
.fontCopperplate{font-family:'Copperplate';}
.color-333{color: #333;}
.color-666{color: #666;}
.color-999{color: #999;}
.color-f5{color: #F5F5F5;}
.color-f{color: #FFFFFF;}
.color-e0{color: #E0E0E0;}
.color-ccc{color: #CCCCCC;}
.background-color-f5{background-color: #F5F5F5;}
.background-color-f{ background-color: #FFF;}
.background-color-000{background-color: #000;}
.background-color-333{ background-color: #333;}
.img-responsive{display:block; max-width:100%; height:auto;}
.img-transition{transition:all 0.5s; -moz-transition:all 0.5s; -webkit-transition:all 0.5s; -o-transition:all 0.5s; }
.table-box{display: table; text-align: center;}
.table-middle{display: table-cell; vertical-align: middle;}
.border-no{border: none !important;}
.list-disc{list-style: disc inside;}
.word-spacing{word-spacing:8px;letter-spacing:1px;}
.more{ font-family: "宋体"; font-size: 12px !important; color: #666; font-weight: 100 !important;}
.border-solid{ border: 1px solid #E0E0E0;}
.border-bottom-solid{ border-bottom: 1px solid #E0E0E0;}
.border-bottom-dashed{ border-bottom: 1px dashed #E0E0E0;}
.box-shadow{ box-shadow: 1px 1px 3px #E0E0E0;}
.bg-left::before{ content: ""; width: 2px; height: 15px; display: inline-block; float: left; margin-right: 5px;}
.bg-right::after{ content: ""; width: 2px; height: 15px; display: inline-block; float: left; margin-left: 5px;}
/*滤镜图片变灰色  参考http://www.runoob.com/cssref/css3-pr-filter.html*/
.gray{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; }

